html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

/**************************************/

body{
	display: block;
}

.header {
	width: 80%;
	height: 30%;
	margin: 0 auto;
	
}

.header p {
	font-size: 1em;
	font-family: arial;
	text-align: justify;
}
.header h2{
	float: right;
}

/*************************************/

.content {
	width: 80%;
	height: 60%;
	margin:0 auto;
	display: flex;
	flex-flow: row wrap;
	
}

.image {
	width:25%;
	height: 25%;
	display: flex;
	justify-content: center;
	
}

